*{
    margin:0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: #666666;
}
h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: #4C5866;
}
@media screen and (max-width: 1024px){
    header,.hero,.frame219,.frame139,.frame229,.frame224,footer{
        padding-left: 4.5% !important;
        padding-right: 4.5% !important;
    }
    h1{
        font-size: 50px;
        line-height: 50px;
    }
    h2{
        font-size: 30px;
        line-height: 30px;
    }
}
@media screen and (max-width: 853px){
    header{
        padding-left: 0px !important;
        padding-right: 0px !important;
        row-gap: 20px !important;
        padding-bottom: 20px !important;
    }
    header #logo{
        padding-left: 33px !important;
    }
    header .button-group{
        padding-right: 33px;
        order:1;
    }
    header nav{
        padding: 0px 33px;
        padding-top: 20px;
        border-top: 1px solid #DDDDDD;
        width: 100% !important;
        order:2;
        display: flex !important;
        justify-content: space-between !important;
        gap: 10px !important;
    }
}
@media screen and (max-width: 677px){
    h1{
        font-size: 38px;
        line-height: 38px;
    }
    h2{
        font-size: 24px;
        line-height: 28.13px;
    }
    p{
        font-size: 16px !important;
    }
    .frame219 .frame215{
        flex-wrap: wrap;
    }
    .frame219 .frame216 img{
        width: 150px !important;
        aspect-ratio: 160/118;
    }
    .frame229{
        flex-wrap: wrap;
    }
    .frame229 .frame228,.frame227,.frame226,.frame225{
        width: 45% !important;
    }
    .frame135 button{
        width: 196px !important;
        height: 60px !important;
    }
    .frame224{
        flex-wrap:wrap-reverse;
    }
    .frame224 .frame207 button{
        width: 196px !important;
        height: 60px !important;
    }
}
@media screen and (max-width: 575px){
    h1{
        font-size: 30px;
        line-height: 30px;
    }
    .frame135 button{
        width: 144px !important;
        height: 50px !important;
    }
    .hero{
        padding: 50px 15px !important;
    }
    .hero .frame135{
        margin-top: 0px !important;
    }
    .frame219{
        top: 0px !important;
        margin-top: 0px !important;
        padding: 60px 15px !important;
    }
    .frame224 .frame207 button{
        width: 144px !important;
        height: 50px !important;
    }
    .frame139{
        top: 0px !important;
        margin-top: 0px !important;
        padding: 60px 15px !important;
    }
    .frame229{
        scroll-snap-type: x mandatory;
        width: 100% !important;
        padding: 60px 15px !important;
        overflow-x: auto !important;
        white-space: nowrap !important;
        flex-wrap: nowrap !important;
    }
    .frame229 .frame228,.frame227,.frame226,.frame225{
        scroll-snap-align: start;
        min-width: 150px !important;
    }
    .frame224{
        padding: 60px 15px !important;
    }
    .frame219 .frame216{
        flex-wrap: wrap;
    }
    .frame219 .frame216 img{
        width: 130px !important;
        aspect-ratio: 160/118;
    }
    .frame205{
        width: 130px;
    }
    header{
        padding-top: 10px !important;
        padding-left: 0px !important; 
        padding-right: 0px !important;
    }
    header #logo{
        width: 100% !important;
        height: 33px !important;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px !important;
    }
    header nav{
        display: none !important;
        flex-direction: column !important;
        gap: 50px !important;
        width: 100% !important;
        align-items:start !important;
        padding-bottom: 88px;
        padding-left: 15px;
    }
    header nav a{
        text-align: left !important;
    }
    header .hamburger {
        padding-left: 15px;
        display: flex !important;
    }
    header .button-group{
        padding-right: 15px;
    }
    #menu:checked ~ nav {
        display: flex !important;
        background-color: #EBEBEB;
    }
    #menu:checked ~ .hamburger #open {
        display: none !important;
    }
    #menu:checked ~ .hamburger #close {
        display: flex !important;
    }
    footer{
        padding:20px 0px!important;
        justify-content: center !important;
        flex-wrap: wrap;
    }
    footer #logo1{
        padding-bottom: 20px;
    }
    footer .frame199{
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        border-top: 1px solid #dddddd;
    }
}
@media screen and (max-width: 488px) {
    .hero img{
        width: 0px !important;
    }
}
body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    padding: 28px 10% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    flex-wrap: wrap;
}
header #menu{
    display: None;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.hamburger b{
    font-size: 24px;
}
.hamburger #close{
    font-size: 24px;
    display: none;
}
.hamburger #open {
    font-size: 24px;
}
header a{
    text-decoration: none;
    color: #4C5866;
    font-size: 20px;
    font-weight: 400;
}
header button {
    border: none;
    background: rgba(255,255,255, 0);
    color: #4C5866;
}
header nav{
    gap: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .button-group{
    gap: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .button-group .frame217{
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header #profile{
    height: 24px;
    width: 24px;
}
header #search{
    height: 24px;
    width: 24px;
}
header #logo{
    height: 22px;
    width: 140px;
    vertical-align: center;
}

.hero{
    z-index: 0;
    width: 100%;
    padding: 0px 10% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10%;
}
.hero .frame135{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    max-width: 445px;
    gap: 30px;
}
.frame135 p{
    font-size: 18px;
    line-height: 27px;
    color: #85859B;
}
.frame135 button{
    border: 1px solid #7875FE;
    background: rgba(255,255,255, 0);
    width: 255px;
    height: 70px;
}
.frame135 button p{
    color: #7875FE;
    font-size: 20px;
    line-height: 23.44px;
    font-weight: 400;
}
.hero img{
    margin-top: 60px;
    width:37.5vw;
    max-width: 600px;
    aspect-ratio: 540/1336;
    object-fit: cover;
    object-position: 4% 0;
}
.frame219{
    z-index: 100;
    position: relative;
    --width:37.5vw;
    top: max(-940px,calc((var(--width) / 540) * -1336 + 540px));
    width: 100%;
    padding: 90px 10%;
    background-color: #EBEBEB;
}
.frame219 .frame216{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}
.frame219 .frame216 .frame136{
    border-top: 1px solid #C0C0C0;
    padding-top:20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.frame219 .frame216 .frame136 p{
    color: #85859B;
    font-size: 18px;
    line-height: 27px;
    max-width: 160px;
}
.frame219 .frame216 .frame136 b{
    color: #666666;
    font-size: 18px;
    line-height: 27px;
}
.frame219 .frame215{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.frame219 .frame215 img{
    width: 57%;
    aspect-ratio: 730/564;
}
@media screen and (max-width:1024px) {
    
}
.frame219 .frame215 .frame207{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.frame219 .frame215 .frame207 p{
    color: #85859B;
    font-size: 18px;
    line-height: 27px;
}
.frame139{
    background-color: white;
    position:relative;
    --width:37.5vw;
    margin-top: max(-940px,calc((var(--width) / 540) * -1336 + 540px));
    width: 100%;
    padding: 90px 10% ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 30px;
}

.frame139 p{
    color: #85859B;
    font-size: 18px;
    line-height: 30.6px;
}
.frame139 small{
    display: flex;
    margin: 8px 0px;
    color: #b5b5bd;
    font-size: 14px;
    line-height: 16.41px;
}
.frame139 a{
    margin-top: 20px;
    display: flex;
    color: #7875FE;
    font-size: 20px;
    line-height: 23.44px;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}
.frame139 .frame223{
    width: 250px;   
}
.frame139 .frame223 .frame_text{
    padding-top: 20px;
    background-color: white ;
}

.frame139 .frame223 .frame208,.frame209,.frame210,.frame211{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #EBEBEB;
}
.frame229{
    position:relative;
    padding: 90px 10% ;
    width: 100%;
    background-color: #EBEBEB;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.frame229 .frame228,.frame227,.frame226,.frame225{
    display: flex;
    border: 1px solid #C4C4C4;
    width: 25%;
    aspect-ratio: 255/135;
    justify-content: center;
    align-items: center;
}
.frame229 img{
    width: 90%;
    height: 100%;
}
.frame228 img{
    padding-bottom:15px;
}
.frame224{
    background-color: white;
    position:relative;
    width: 100%;
    padding: 90px 10% ;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.frame224 .frame207{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frame224 .frame207 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30.6px;
    color: #85859B;
}
.frame224 .frame207 button{
    border: 1px solid #7875FE;
    background-color: rgba(255,255,255, 0);
    width: 255px;
    height: 70px;
    color: #7875FE;
    font-size: 20px;
    line-height: 23.44px;
    font-weight: 400;
}
.pic { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 730px; 
    aspect-ratio: 730/410; 
    position: relative; 
}

#book {
    width: 100%; 
    aspect-ratio: 730/410;
}

#Layer {
    position: absolute; 
    top: 12%; 
    left: 45%; 
    width: 50.7%;
}

#signature {
    position: absolute;
    top: 15%; 
    left: 80%; 
    width: 10%; 
}
footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 29px 10%;
    width: 100%;
    background-color: #4C5866;
}
footer .frame199{
    display: flex;
    gap: 30px;
}
body small{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.33px;
    color: #85859B;
}